.actionO_overlay {
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: #b4b4b4;
    z-index: 100;
}

.actionO_VS {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 103;
    overflow: hidden;
}

.actionO_VS > div > div {
    display: table-cell;
    position: relative;
    width: 100%;
    vertical-align: middle;
    text-align: center;
}

.actionO_VS > div > div > div {
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.actionO_VS > div{
    display: table;
    width: 25%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.actionO_Image {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 102;
}

.actionO_Line {
    height: 100%;
    overflow: hidden;
    top: 0;
    position: absolute;
    width: 10px;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 101;
}

#actionO_left,
#actionO_right {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    overflow: hidden;
}

#actionO_left {
    background-color: rgba(255,0,0,0.2);
    left: 0;
}

#actionO_left > .actionO_Line {
    background: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(255,0,0,1), rgba(0,0,0,0)); /*Safari 5.1-6*/
    background: -o-linear-gradient(left, rgba(0,0,0,0), rgba(255,0,0,1), rgba(0,0,0,0)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(255,0,0,1), rgba(0,0,0,0)); /*Fx 3.6-15*/
    background: linear-gradient(to left, rgba(0,0,0,0), rgba(255,0,0,1), rgba(0,0,0,0)); /*Standard*/
    width: 50%;
    right: -15%;
}

#actionO_right {
    background-color: rgba(0,0,255,0.2);
    right: 0;
}

#actionO_right > .actionO_Line {
    background: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,255,1), rgba(0,0,0,0)); /*Safari 5.1-6*/
    background: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,255,1), rgba(0,0,0,0)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,255,1), rgba(0,0,0,0)); /*Fx 3.6-15*/
    background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,255,1), rgba(0,0,0,0)); /*Standard*/
    width: 50%;
    left: -15%;
}